<div class="folders-modal">
  <input type="search"
         class="action-search"
         id="action-suggestions-search"
         translate-once-placeholder="FIND_FOLDER"
         ng-model="folderSelectionCtrl.searchFolderQuery"
         ng-model-options="{debounce: { default: 300, blur: 0 }}"
         ng-change="folderSelectionCtrl.searchFolders()"
         talend-search-input
  >

  <ul class="folders">
    <folder-item
            ng-if="!folderSelectionCtrl.searchFolderQuery"
            ng-repeat="item in folderSelectionCtrl.folders track by item.path"
            folders="folderSelectionCtrl.folders"
            item="item"
            selected-folder="folderSelectionCtrl.selectedFolder"
    ></folder-item>
    <folder-item
            ng-if="folderSelectionCtrl.searchFolderQuery"
            ng-repeat="item in folderSelectionCtrl.foldersFound track by item.path"
            folders="folderSelectionCtrl.foldersFound"
            item="item"
            selected-folder="folderSelectionCtrl.selectedFolder"
    ></folder-item>
  </ul>

</div>