<div class="folders-modal">
  <div class="search-folder-box">
    <input type="search"
           class="action-search"
           id="action-suggestions-search"
           translate-once-placeholder="FIND_FOLDER"
           ng-model="folderSelectionCtrl.searchFolderQuery"
           ng-model-options="{debounce: { default: 300, blur: 0 }}"
           ng-change="folderSelectionCtrl.searchFolders()"
           talend-search-input>
  </div>
  <div class="folders">
    <div ng-if="folderSelectionCtrl.searchFolderQuery">
      <ul class="folders-list">
        <li ng-repeat="node in folderSelectionCtrl.foldersFound"
            ng-class="{folderselected: node.selected}"
            ng-click="folderSelectionCtrl.chooseFolder(node)">
          <img class="icon-img" src="assets/images/folder/folder_close_small-icon.png"/>
          <span class="folder-name" ng-if="!node.path" translate-once="HOME_FOLDER"></span>
          <span class="folder-name" ng-if="node.path"><span translate-once="HOME_FOLDER"></span>/{{node.path}}</span>
        </li>
      </ul>
    </div>

    <script type="text/ng-template" id="folder_node_render.html">
      <div class="folder-node" ng-class="{folderselected: node.selected}">
        <a class="inventory-icon inventory-folder">
          <i data-icon="J" ng-if="!node.collapsed" class="dropdown-button-right" ng-click="folderSelectionCtrl.toggle(node)"></i>
          <img class="icon-img" ng-click="folderSelectionCtrl.chooseFolder(node)" ng-if="!node.collapsed" src="assets/images/folder/folder_open_small-icon.png"/>
          <i data-icon="I" ng-if="node.collapsed" class="dropdown-button-down" ng-click="folderSelectionCtrl.toggle(node)"></i>
          <img class="icon-img" ng-click="folderSelectionCtrl.chooseFolder(node)" ng-if="node.collapsed" src="assets/images/folder/folder_close_small-icon.png"/>
        </a>
        <span ng-click="folderSelectionCtrl.chooseFolder(node)" class="folder-name">{{node.name}}</span>
      </div>
      <ol class="folder-nodes" ng-model="node.nodes" ng-class="{hidden: node.collapsed}">
        <li ng-repeat="node in node.nodes" class="folder-node" ng-include="'folder_node_render.html'"></li>
      </ol>
    </script>

    <div class="folders-tree" id="folders-tree-root" ng-if="!folderSelectionCtrl.searchFolderQuery">
      <ol class="folder-nodes" ng-model="folderSelectionCtrl.folders">
        <li ng-repeat="node in folderSelectionCtrl.folders" class="folder-node" ng-include="'folder_node_render.html'"></li>
      </ol>
    </div>
  </div>
</div>